
body {
  background-color: rgb(172, 114, 226);
  font-family: cursive;
}


  form {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  h2 {
    text-align: center;
    font-weight: 500;
  }

 .container {
  background-color: beige;
  padding: 40px 0;
  box-shadow: 0 0 ;
  border-radius: 10px;
  width: 500px;
  margin: 40px 0;
 }
  

.container .grupo {
  position: relative;
  margin: 45px;

}

input {
  background: none;
  color: brown;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid crimson;
}

input:focus {
  outline: none;
}

label {
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

input:focus~label {
  top: -14px; 
  font-size: 12px;
  
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 20px;
  width: 0%;
  bottom: 0%;
  position: absolute;
  background-color: brown;
  transition: 0.3s ease width;
  left: 0;
}


input:focus~.barra::before {
 width: 100%;
}


button {
  background-color: rgb(69, 14, 121);
  border: none;
  display: block;
  width: 70%;
  margin: 10px auto;
  color: white;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 9px;
  font-family: cursive;
  
}